{% extends "base.html" %}
{% block content %}
<div class="main-container">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-2-3">
            <div class="intro">
                <h1>Hi!</h1>
                <p>I'm Tarashish. This is my blog where I write about things. Hope you enjoy reading.</p>
                <ul>
                    <li><a href="https://github.com/sunu">Github</a></li>
                    <li><a href="https://twitter.com/tarashish">Twitter</a></li>
                    <li><a href="mailto:sunu@sunu.in">Email</a></li>
                </ul>
            </div>
            {% if tag %}
            <div class="post heading">
                <div class="heading-prefix">Tagged in </div>
                <h3>{{ tag }}</h3>
            </div>
            {% endif %}

            <table>
            {% for article in articles_page.object_list %}
            <tr>
                <td>
                    <div class="post">
                        <div class="post-meta pure-g">
                            <div class="pure-u-3-4 meta-data">
                                <abbr title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="post">
                        <div class="post-title">
                            <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </table>

            {% include "pagination.html" %}


        </div>
    </div>
</div>

{% endblock content %}
